@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SansationRegular";
    src: url("/public/fonts/Sansation-Regular.ttf");
  }

@font-face {
    font-family: "SansationBold";
    src: url("/public/fonts/Sansation-Bold.ttf");
}

@font-face {
    font-family: "SansationItalic";
    font-style: italic;
    src: url("/public/fonts/Sansation-Italic.ttf");
}

@font-face {
    font-family: "SansationBoldItalic";
    src: url("/public/fonts/Sansation-Bold.ttf");
    font-style: italic;
}

@font-face {
    font-family: "SansationLightItalic";
    src: url("/public/fonts/Sansation-BoldItalic.ttf");
    font-style: italic;
}



